* {
  box-sizing: border-box;
  margin: 0;
}
main {
  background-color: #f8f9ff;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 20px;
}
.hero-section {
  header {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    h1 {
      font-family: "Poppins";
      text-align: center;
      font-size: 45px;
    }
    p {
      font-family: "Mulish";
      text-align: center;
      font-size: 17px;
    }
  }

  button {
    color: white;
    background-color: #009379;
    display: flex;
    border: none;
    align-items: center;
    padding-inline: 45px;
    padding-block: 10px;
    border-radius: 20px;
    gap: 1rem;
    margin: 10px;
    img {
      color: white;
    }
  }
  .visualimg {
    img {
      width: 270px;
      height: 300.09px;
      top: 9.96px;
      left: 81.78px;
      border-radius: 21.33px;
    }
  }
}

.feature {
  header {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    h2 {
      font-family: poppins;
      text-align: center;
      font-size: 40px;
    }
    p {
      font-family: mulish;
      font-size: 17px;
      text-align: center;
    }
  }
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-family: mulish;

    button {
      gap: 23px;
      width: 315px;
      padding: 20px;
      border-radius: 20px;
      border: 1px;
      display: flex;
      align-items: center;
      border-color: #e5f4f2;
      justify-content: flex-start;
      color: #2d2d2d;
      background-color: #ffffff;
      font-family: mulish;
      font-size: 20px;
    }
  }
  .visual2 {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
